<div id="img-preload">
	<img src={{menuImgPaths.exItemsImgPaths.rambosSpecial}}>
	<img src={{menuImgPaths.kebabImgPaths.lKebab}}>
	<!--<img src={{menuImgPaths.kebabImgPaths.cKebab}}>
	<img src={{menuImgPaths.kebabImgPaths.mKebab}}>
	<img src={{menuImgPaths.kebabImgPaths.fKebab}}>
	<img src={{menuImgPaths.kebabImgPaths.lKebabMeal}}>
	<img src={{menuImgPaths.kebabImgPaths.cKebabMeal}}>
	<img src={{menuImgPaths.snackpackImgPaths.lSnackpack}}>
	<img src={{menuImgPaths.snackpackImgPaths.cSnackpack}}>
	<img src={{menuImgPaths.snackpackImgPaths.mSnackpack}}>-->
	<img src={{menuImgPaths.snackpackImgPaths.fSnackpack.src}}>
	<!--<img src={{menuImgPaths.ricepackImgPaths.lRicepack}}>
	<img src={{menuImgPaths.ricepackImgPaths.cRicepack}}>
	<img src={{menuImgPaths.ricepackImgPaths.mRicepack}}>
	<img src={{menuImgPaths.ricepackImgPaths.fRicepack}}>
	<img src={{menuImgPaths.meatpackImgPaths.lMeatpack}}>
	<img src={{menuImgPaths.meatpackImgPaths.cMeatpack}}>
	<img src={{menuImgPaths.meatpackImgPaths.mMeatpack}}>
	<img src={{menuImgPaths.appetizerImgPaths.gozleme}}>
	<img src={{menuImgPaths.appetizerImgPaths.chips}}>
	<img src={{menuImgPaths.drinkImgPaths.pepsi}}>
	<img src={{menuImgPaths.drinkImgPaths.solo}}>
	<img src={{menuImgPaths.drinkImgPaths.lemonade}}>
	<img src={{menuImgPaths.drinkImgPaths.pepsiMax}}>
	<img src={{menuImgPaths.drinkImgPaths.sunkist}}>
	<img src={{menuImgPaths.drinkImgPaths.water}}>
	<img src={{menuImgPaths.drinkImgPaths.mLassi}}>
	<img src={{menuImgPaths.drinkImgPaths.aLassi}}>
	<img src={{menuImgPaths.sweetImgPaths.baklava}}>
	<img src={{menuImgPaths.sweetImgPaths.tDelight}}>
	<img src={{menuImgPaths.addonImgPaths.cheese}}>
	<img src={{menuImgPaths.addonImgPaths.pChillies}}>
	<img src={{menuImgPaths.addonImgPaths.hommus}}>
	<img src={{menuImgPaths.addonImgPaths.tzatziki}}>
	<img src={{menuImgPaths.addonImgPaths.chips }}>
	<img src={{menuImgPaths.addonImgPaths.flakes}}>
	<img src={{menuImgPaths.addonImgPaths.extraMeat}}>
	<img src={{menuImgPaths.addonImgPaths.extraFalafel}}>
	<img src={{menuImgPaths.addonImgPaths.olives}}>-->
</div>
