<ul class="menu-categories">

  <li class="menu-category-ctn">
    <span class="menu-category">Exclusive Items</span>
    <ul class="menu-items">
      <li class="menu-item"
        data-imgsrc="{{menuImgPaths.exclusivespecial.src}}"
        data-imgalt="{{menuImgPaths.exclusivespecial.alt}}"
        data-vr="{{menuImgPaths.exclusivespecial.vr}}">Rambo's Special</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Kebabs</span>
    <ul class="menu-items">

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.kebablamb.src}}"
        data-imgalt="{{menuImgPaths.kebablamb.alt}}"
        data-vr="{{menuImgPaths.kebablamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.kebabchicken.src}}" 
        data-imgalt="{{menuImgPaths.kebabchicken.alt}}"
        data-vr="{{menuImgPaths.kebabchicken.vr}}">Chicken</li>
      
      <li class="menu-item"
        data-imgsrc="{{menuImgPaths.kebabmix.src}}"
        data-imgalt="{{menuImgPaths.kebabmix.alt}}"
        data-vr="{{menuImgPaths.kebabmix.vr}}">Mix(Lamb, Chicken)</li>

      <li class="menu-item"
        data-imgsrc="{{menuImgPaths.kebabfalafel.src}}"
        data-imgalt="{{menuImgPaths.kebabfalafel.alt}}"
        data-vr="{{menuImgPaths.kebabfalafel.vr}}">Falafel(Vegetarian)</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.kebabchickenmeal.src}}"
        data-imgalt="{{menuImgPaths.kebabchickenmeal.alt}}"
        data-vr="{{menuImgPaths.kebabchickenmeal.vr}}">Lamb Meal</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.kebablambmeal.src}}"
        data-imgalt="{{menuImgPaths.kebabchickenmeal.alt}}"
        data-vr="{{menuImgPaths.kebabchickenmeal.vr}}">Chicken Meal</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Snackpacks</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.snackpacklamb.src}}"
        data-imgalt="{{menuImgPaths.snackpacklamb.alt}}"
        data-vr="{{menuImgPaths.snackpacklamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.snackpackchicken.src}}"
        data-imgalt="{{menuImgPaths.snackpackchicken.alt}}"
        data-vr="{{menuImgPaths.snackpackchicken.vr}}">Chicken</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.snackpackmix.src}}"
        data-imgalt="{{menuImgPaths.snackpackmix.alt}}"
        data-vr="{{menuImgPaths.snackpackmix.vr}}">Mix(Lamb, Chicken)</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.snackpackfalafel.src}}"
        data-imgalt="{{menuImgPaths.snackpackfalafel.alt}}"
        data-vr="{{menuImgPaths.snackpackfalafel.vr}}">Falafel(Vegetarian)</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Saladpacks</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.saladpacklamb.src}}"
        data-imgalt="{{menuImgPaths.saladpacklamb.alt}}"
        data-vr="{{menuImgPaths.saladpacklamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.saladpackchicken.src}}"
        data-imgalt="{{menuImgPaths.saladpackchicken.alt}}"
        data-vr="{{menuImgPaths.saladpackchicken.vr}}">Chicken</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.saladpackmix.src}}"
        data-imgalt="{{menuImgPaths.saladpackmix.alt}}"
        data-vr="{{menuImgPaths.saladpackmix.vr}}">Mix</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.saladpackfalafel.src}}"
        data-imgalt="{{menuImgPaths.saladpackfalafel.alt}}"
        data-vr="{{menuImgPaths.saladpackfalafel.vr}}">Falafel</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Ricepacks</span>
    <ul class="menu-items">

      <li class="menu-item"
        data-imgsrc="{{menuImgPaths.ricepacklamb.src}}"
        data-imgalt="{{menuImgPaths.ricepacklamb.alt}}"
        data-vr="{{menuImgPaths.ricepacklamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.ricepackchicken.src}}"
        data-imgalt="{{menuImgPaths.ricepackchicken.alt}}"
        data-vr="{{menuImgPaths.ricepackchicken.vr}}">Chicken</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.ricepackmix.src}}"
        data-imgalt="{{menuImgPaths.ricepackmix.alt}}"
        data-vr="{{menuImgPaths.ricepackmix.vr}}">Mix(Lamb, Chicken)</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.ricepackfalafel.src}}"
        data-imgalt="{{menuImgPaths.ricepackfalafel.alt}}"
        data-vr="{{menuImgPaths.ricepackfalafel.vr}}">Falafel(Vegetarian)</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Meatpacks</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.meatpacklamb.src}}"
        data-imgalt="{{menuImgPaths.meatpacklamb.alt}}"
        data-vr="{{menuImgPaths.meatpacklamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.meatpackchicken.src}}"
        data-imgalt="{{menuImgPaths.meatpackchicken.alt}}"
        data-vr="{{menuImgPaths.meatpackchicken.vr}}">Chicken</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.meatpackmix.src}}"
        data-imgalt="{{menuImgPaths.meatpackmix.alt}}"
        data-vr="{{menuImgPaths.meatpackmix.vr}}">Mix</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Platters</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.platterlamb.src}}"
        data-imgalt="{{menuImgPaths.platterlamb.alt}}"
        data-vr="{{menuImgPaths.platterlamb.vr}}">Lamb</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.platterchicken.src}}"
        data-imgalt="{{menuImgPaths.platterchicken.alt}}"
        data-vr="{{menuImgPaths.platterchicken.vr}}">Chicken</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.plattermix.src}}"
        data-imgalt="{{menuImgPaths.plattermix.alt}}"
        data-vr="{{menuImgPaths.plattermix.vr}}">Mix</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.platterveg.src}}"
        data-imgalt="{{menuImgPaths.platterveg.alt}}"
        data-vr="{{menuImgPaths.platterveg.vr}}">Vegetarian</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Appetizers</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.appetizergozleme.src}}"
        data-imgalt="{{menuImgPaths.appetizergozleme.alt}}"
        data-vr="{{menuImgPaths.appetizergozleme.vr}}">Gozleme</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.appetizerfries.src}}"
        data-imgalt="{{menuImgPaths.appetizerfries.alt}}"
        data-vr="{{menuImgPaths.appetizerfries.vr}}">Chips</li>
    </ul>
  </li>
  <li class="menu-category-ctn">
    <span class="menu-category">Drinks</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkaryan.src}}"
        data-imgalt="{{menuImgPaths.drinkaryan.alt}}"
        data-vr="{{menuImgPaths.drinkaryan.vr}}">Aryan Lassi</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkmangolassi.src}}"
        data-imgalt="{{menuImgPaths.drinkmangolassi.alt}}"
        data-vr="{{menuImgPaths.drinkmangolassi.vr}}">Mango Lassi</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkpepsimax.src}}"
        data-imgalt="{{menuImgPaths.drinkpepsimax.alt}}"
        data-vr="{{menuImgPaths.drinkpepsimax.vr}}">Pepsi Max</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkcocacola.src}}"
        data-imgalt="{{menuImgPaths.drinkcocacola.alt}}"
        data-vr="{{menuImgPaths.drinkcocacola.vr}}">Coca Cola</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkfanta.src}}"
        data-imgalt="{{menuImgPaths.drinkfanta.alt}}"
        data-vr="{{menuImgPaths.drinkfanta.vr}}">Fanta</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinklemonade.src}}"
        data-imgalt="{{menuImgPaths.drinklemonade.alt}}"
        data-vr="{{menuImgPaths.drinklemonade.vr}}">Lemonade</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinksolo.src}}"
        data-imgalt="{{menuImgPaths.drinksolo.alt}}"
        data-vr="{{menuImgPaths.drinksolo.vr}}">Solo</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.drinkwater.src}}"
        data-imgalt="{{menuImgPaths.drinkwater.alt}}"
        data-vr="{{menuImgPaths.drinkwater.vr}}">Water</li>
    </ul>
  </li>

  <li class="menu-category-ctn">
    <span class="menu-category">Sweets</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.sweetbaklava.src}}"
        data-imgalt="{{menuImgPaths.sweetbaklava.alt}}"
        data-vr="{{menuImgPaths.sweetbaklava.vr}}">Baklava</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.sweettdelight.src}}"
        data-imgalt="{{menuImgPaths.sweettdelight.alt}}"
        data-vr="{{menuImgPaths.sweettdelight.vr}}">Turkish Delight</li>

    </ul>
  </li>
  <li class="menu-category-ctn">
    <span class="menu-category">Add Ons</span>
    <ul class="menu-items">
      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Cheese</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Pickeled Chillies</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.addonhommus.src}}"
        data-imgalt="{{menuImgPaths.addonhommus.alt}}"
        data-vr="{{menuImgPaths.addonhommus.vr}}">Hommus</li>

      <li class="menu-item" 
        data-imgsrc="{{menuImgPaths.addontzatziki.src}}"
        data-imgalt="{{menuImgPaths.addontzatziki.alt}}"
        data-vr="{{menuImgPaths.addontzatziki.vr}}">Tzatziki</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Chips</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Flakes</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Extra Meat</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Extra Falafel</li>

      <li class="menu-item" 
        data-imgsrc=""
        data-imgalt=""
        data-vr="">Olives</li>

    </ul>
  </li>
</ul>
