<ul class="menu-categories">
	<li class="menu-category-ctn">
		<span class="menu-category">Exclusive Items</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.exItemsImgPaths.rambosSpecial}}>Rambo's Special</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Kebabs</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.lKebab}}>Lamb</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.cKebab}}>Chicken</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.mKebab}}>Mix(Lamb, Chicken)</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.fKebab}}>Falafel(Vegetarian)</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.lKebabMeal}}>Lamb Meal</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.kebabImgPaths.cKebabMeal}}>Chicken Meal</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Snackpacks</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.snackpackImgPaths.lSnackpack}}>Lamb</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.snackpackImgPaths.cSnackpack}}>Chicken</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.snackpackImgPaths.mSnackpack}}>Mix(Lamb, Chicken)</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.snackpackImgPaths.fSnackpack}}>Falafel(Vegetarian)</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Ricepacks</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.ricepackImgPaths.lRicepack}}>Lamb</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.ricepackImgPaths.cRicepack}}>Chicken</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.ricepackImgPaths.mRicepack}}>Mix(Lamb, Chicken)</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.ricepackImgPaths.fRicepack}}>Falafel(Vegetarian)</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Meatpacks</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.meatpackImgPaths.lMeatpack}}>Lamb</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.meatpackImgPaths.cMeatpack}}>Chicken</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.meatpackImgPaths.mMeatpack}}>Mix(Lamb, Chicken)</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Appetizers</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.appetizerImgPaths.gozleme}}>Gozleme</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.appetizerImgPaths.chips}}>Chips</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Drinks</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.pepsi}}>Pepsi</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.solo}}>Solo</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.lemonade}}>Lemonade</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.pepsiMax}}>Pepsi Max</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.sunkist}}>Sunkist</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.water}}>Water</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.mLassi}}>Mango Lassi</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.drinkImgPaths.aLassi}}>Aryan Lassi</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Sweets</span>
		<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.sweetImgPaths.baklava}}>Baklava</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.sweetImgPaths.tDelight}}>Turkish Delight</li>
		</ul>
	</li>
	<li class="menu-category-ctn">
		<span class="menu-category">Add Ons</span>
			<ul class="menu-items">
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.cheese}}>Cheese</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.pChillies}}>Pickeled Chillies</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.hommus}}>Hommus</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.tzatziki}}>Tzatziki</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.chips }}>Chips</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.flakes}}>Flakes</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.extraMeat}}>Extra Meat</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.extraFalafel}}>Extra Falafel</li>
			<li class="menu-item" data-imgpath={{menuImgPaths.addonImgPaths.olives}}>Olives</li>
		</ul>
	</li>
</ul>
